main {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr) minmax(50px, 1fr);	
	grid-template-rows: repeat(10, min-content);
	
}
{
	width:30%;
	margin:15px;
}

[data-grid='grid-cell'] {
	border-color: blue;
	height:50%;
	}
	
	[data-grid='grid-cell']:hover {
		background: blue;
	}


[data-grid='grid-column'] {
	border-color: rgba(2, 143, 118, .8);
	grid-column: 3;
	grid-row: 2 / 9;
	height:50%;
}
	

	
[data-grid='grid-column']:hover {
		background: red;
	}
	
	// Showing overlap
	position: relative;




[data-grid='grid-area'] {
	border-color:darkred;
	grid-column: 1 / span 2;
	grid-row: span 3;
	}

	@include bp(large) {
		grid-column: 2;
	}
	
[data-grid='grid-area']:hover {
		background: darkred;
	}


[data-grid='grid-row'] {
	background:#21b0f1;
	border-color: rgba(38, 95, 163, .8);
   grid-column: 1 / -1; // -1 jumps to the last grid line to count from the end
	grid-row: 8;
	
	@include bp(large) {
		// declare row to get the overlap
		grid-row: 5;
	}
	
	&:hover {
		background: rgba(38, 95, 163, .8);
	}
}

.title {
	grid-column: 1 / -1;
	grid-row: 1;

	@include bp(large) {
		grid-column: 2;
	}
}

@import url('https://fonts.googleapis.com/css?family=Scope+One|Open+Sans:700');

.body-home {
	background: #fff;
	color: rgb(113, 115, 136);
	font-family: 'Scope One', sans-serif;
	font-size: 1rem;
	margin: 1rem;	
}

h1, h2 {
	margin: 0;
}

div {
	border: 1px solid #ddd;
	padding: .75vw 1vw;
}

h1 {
	color: rgb(113, 115, 136);
	font-size: 4.5rem;
	font-weight: 700;
	padding-top: .5rem;
}

h2 {
	color: #999;
	font-size: 1.25rem;	
}

[data-grid]  {
	border-width: 1px;
	border-style: solid;

	&:hover {
		color: #fff;
	}
}

.fill {
	display:block;
	background:red;
	padding:30px;
	color:white;
	font-family:roboto;
	text-transform:UPPERCASE;
	text-decoration:none;
	text-align:center;
	font-weight: bolder;
}

.filled{
	display:block;
	background:blue;
	padding:30px;
	color:white;
	font-family:roboto;
	text-transform:UPPERCASE;
	text-decoration:none;
	text-align:center;
	font-weight: bolder;
}



.p {
    line-height: 1.5;
	color:black;
	font-family: roboto;
}

strong {
	display: block;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color:brown;
	text-decoration: underline;
	text-align: center;
	font-family:CaudexBold;
}
footer{
	background-color:#21b0f1;
	margin-top:50%;
	padding:1%;
	color:white;
	text-align:center;
  }
  


p {
	grid-column: 2 / 4;
	margin-bottom: 5rem;
}


@media (max-width: 1000px) and (min-width: 900px)
body {
    background: #888;
}