/*form styles*/
#msform {
	width: 500px;	
}

#msform fieldset {
	background: darkred;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 10px 20px;
	box-sizing: border-box;
	width: 70%;
	margin-top:3%;

}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

footer{
	background-color:#21b0f1;
	margin-top:50%;
	padding:1%;
	color:white;
	text-align:center;
  }
  

/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: roboto;
	color: #2C3E50;
	font-size: 15px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 20px;
	text-transform: uppercase;
	color: white;
	margin-bottom: 10px;
	text-decoration: underline;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: black;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

h1{
    text-align:center;
    color:maroon;
    text-transform:uppercase;
}


p{
    font-family:roboto;
    font-size:20px;
    margin:2%;
	letter-spacing:5px;
	color:cyan;
}

h3{
	text-align:center;
	color:black;
	font-family:comic sans ms;
}

.left{
	float:left;
}

.right{
	float:right;
}


@media (max-width: 1000px) and (min-width: 900px)
body {
    background: #888;
}