*{  
    margin:0;
    padding:0;
  }

  /* container */

/* footer */
footer{
  background-color:#21b0f1;
  margin-top:50%;
  padding:1%;
  color:white;
  text-align:center;
}

  /*header  */

  .header {
   
    text-align: left;
    color: #cedfe9;
  }
  
  .header h1, {
    margin: 0;
    letter-spacing: 0.2em;
    line-height: 1;
  }
  
  .header h1 {
    position: relative;
    color: seagreen;
    font-size:40px;
    font-family:verdana;
  }
  /* action-row */

  .action-row{
    float:left;
    width:30px;
  }

  /*  */
  h1 {
    font-size: 2em;
    font-family: "Core Sans N W01 35 Light";
    font-weight: normal;
    margin: .67em 0;
    display: block;
  }
  
  body{
   
    font-family:helvetica;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5%;
    background-image;
  }

/* grid */
.column1 {
  background-color:white ;
  width: 300px;
  float: left;
  margin: 15px;
  height:200px;
  margin-left:7%;
}
.column2 {
  background-color:white  ;
  width: 500px;
  float: left;
  margin: 15px;
  height:400px;
  margin-left:7%;
}


.act{
  padding:10%;                  
  margin-top:9%;
  background-color:red;
}
 

nav ul {
  list-style:none;
  background-color:#21b0f1;
  text-align:center;
  padding:0;
  margin:0; 
  background-position:fixed; 
}

nav li {
  width: 120px;
  border-bottom:none;
  height:50px;
  line-height:50px;
  font-size:1.4em;
  display:inline-block;
  margin-right:-4px;
}

nav a {
  text-decoration:none;
  color:#fff;
  display:block;
  transition: .3s background-color;
}

nav a:hover {
  display:block;
  background-color:#005f5f;
}
nav a.active {
  background-color:#fff;
  color:#444;
  cursor:default;
}

nav li li {
  font-size:.8em;
}

nav li ul {
  position:absolute;
  display:none;
  width:inherit;
}

nav li:hover ul {
  display:block;  
}
nav li ul li {
  display:block;
}

 */

 /* wrap */
 .{
    height: 50%;
    width: 100%;
     padding-bottom: 80px;
     background: url("images/coverpage.jpeg") no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }

 /* upper-header */
 .upper-header{
   display:block;
   background-color:white;
 }


 
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
    color: white;
  }
}

@media (max-width: 1000px) and (min-width: 900px)
body {
    background: #888;
}